<div *ngIf="data" style="margin-top: 12px; margin-left: 24px;">
  <div [ngSwitch]="true" *ngIf="data.type || data.choices">
    <div *ngSwitchCase="data.type == 'choice' || data.type == 'Choice' || data.choices != undefined">
      <div *ngIf="!data.multiple">
        <label>
          {{ data.name }}
          <select [attr.multiple]=""
                  [(ngModel)]="selectedOption"
                  (ngModelChange)="dataSelected.emit(selectedOption)">
            <option [ngValue]="null">Select...</option>

            <!-- support options -->
            <option *ngFor="let item of data.options"
                    [ngValue]="item">
              {{ item.name }}
            </option>

            <!-- Support choices -->
            <option *ngFor="let item of data.choices"
                    [ngValue]="item">
              {{ item.name }}
            </option>
          </select>
        </label>
        <app-nested-component [data]="selectedOption" (dataSelected)="dataSelected.emit($event)"></app-nested-component>
      </div>
      <div *ngIf="data.multiple">
        <label>
          {{ data.name }}
          <select multiple
                  [(ngModel)]="selectedOptions"
                  (ngModelChange)="dataSelected.emit(selectedOptions)">
            <option [ngValue]="null">Select...</option>
            <option *ngFor="let item of data.options"
                    [ngValue]="item">
              {{ item.name }}
            </option>
          </select>
        </label>
        <div *ngFor="let option of selectedOptions">
          <app-nested-component [data]="option" (dataSelected)="dataSelected.emit($event)"></app-nested-component>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="data.type == 'float'">
      <label>
        {{ data.name }} (float)
        <input type="number" [(ngModel)]="data.characterValue" (ngModelChange)="dataSelected.emit(data)"/>
      </label>
    </div>
    <div *ngSwitchCase="data.type == 'integer'">
      <label>
        {{ data.name }} (integer)
        <input type="number" [(ngModel)]="data.characterValue" (ngModelChange)="dataSelected.emit(data)" />
      </label>
    </div>
    <div *ngSwitchCase="data.type == 'boolean'">
      <label>
        {{ data.name }} (boolean)
        <input type="checkbox"  [(ngModel)]="data.characterValue" (ngModelChange)="dataSelected.emit(data)" />
      </label>
    </div>
    <div *ngSwitchCase="data.type == 'text'">
      <label>
        {{ data.name }} (text)
        <textarea [(ngModel)]="data.characterValue" (ngModelChange)="dataSelected.emit(data)"></textarea>
      </label>
    </div>
    <div *ngSwitchCase="data.type == 'group'">
      <div *ngFor="let item of data.properties">
        <app-nested-component [data]="item" (dataSelected)="dataSelected.emit($event)"></app-nested-component>
      </div>
    </div>
    <div *ngSwitchDefault>
      {{ data.name }} ({{ data.type }})
    </div>
  </div>
  <div *ngIf="!data.type">
    <div *ngIf="data.options || data.properties; else noOptions">
        {{ data.name }}
        <div *ngFor="let item of data.options">
          <app-nested-component [data]="item" (dataSelected)="dataSelected.emit($event)"></app-nested-component>
        </div>
        <div *ngFor="let item of data.properties">
          <app-nested-component [data]="item" (dataSelected)="dataSelected.emit($event)"></app-nested-component>
        </div>
    </div>
    <ng-template #noOptions>
      <!--{{ data.name }}-->
    </ng-template>

  </div>
</div>
